<header class="header">
    <div class="container">
        <a class="header__link" href="/">
            <img src="./images/logo.png" alt="">
        </a>
        <div class="menu-open__wrap">
        <button type="button" class="menu-open">
            <svg class="icon-open" width="24" height="24">
                <use href="./images/icons.svg#menu"></use>
            </svg>
        </button>
        </div>
        <div class="header-contacts">
            <button type="button" class="contacts-button">
                <svg class="contacts__icon" width="18" height="18">
                    <use href="./images/icons.svg#phone"></use>
                </svg>
            </button>
            <div class="contacts__menu is-hidden">
                <p class="contacts__tel"> 
                    +38 (093) 643 22 88
                </p>
                 <p class="contacts__tel"> 
                    +38 (093) 643 22 88
                 </p>
            </div>
        </div>
        <div class="header-figure">
            <p class="figure-text">eng</p>
        </div>
    </div>
    <div class="nav-menu is-hidden">
        <button type="button" class="menu-close">
            <svg class="icon-close" width="24" height="24">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </button>
        <div class="nav-menu__content">
        <h3 class="nav-menu__title">Головна</h3>
        <h3 class="nav-menu__word">Послуги</h3>
        <ul class="nav-list">
            <li class="nav-item">
                <p class="nav-item__text">3D Моделювання</p>
            </li>
            <li>
                <p class="nav-item__text">3D Моделювання</p>
            </li>
            <li>
                <p class="nav-item__text">3D Друк</p>
            </li>
        </ul>
        <h3 class="nav-menu__word">Замовити</h3>
        <h3 class="nav-menu__word">Контакти</h3>
        </div>
    </div>
</header>
    
